---
import Link from "./ui/link.astro";
---

<div>
    <p class="font-semibold text-lg">Vee</p>
    <p class="pt-4">
        I'm an engineering student and self-taught developer based in Hyderabad, India. I love participating in hackathons and organising technical events as a part of community work.
    </p>
    <div class="pt-4 flex flex-col gap-2 text-sm">
        <div>
            Reach out: <span>
                <Link href="mailto:curiousvee19@gmail.com"
                    >curiousvee19@gmail.com</Link
                > or @vee.apk on Discord.
            </span>
        </div>
        <div>
            Find me: &nbsp;
            <span>
                <Link href="https://github.com/veesesh">GitHub</Link>

                <Link href="https://x.com/vee19twt">Twitter</Link>

                <Link href="https://www.linkedin.com/in/vee19/"
                    >LinkedIn</Link
                >

                <Link
                    href="https://drive.google.com/file/d/1RI-UVdS7dAdpau2HiPMdHZtdA3trkPKX/view?usp=sharing"
                    >Resume</Link
                >
            </span>
        </div>
    </div>
</div>
