---
import Link from "./ui/link.astro";
---

<section class="flex flex-col gap-6">
    <div class="flex flex-col gap-2">
        <p class="flex items-center gap-2">
            <Link href="https://event.codeday.org/en-US/hyderabad">CodeDay Hyderabad</Link>
            <span class="text-muted text-xs inline-block"
                >- 2022 July - 2024 December </span
            >
        </p>
        <p class="text-muted text-sm">Regional Manger and Volunteer</p>
        <p class="text-sm">
           CodeDay is a worldwide event where student artists, programmers, musicians, actors, and writers get together to build apps and games. <br>
           CodeDay Hyderabad has three editions, where I volunteered in the first two and led the third one as Regional Manger.  
        </p>
    </div>
    <div class="flex flex-col gap-2">
        <p class="flex items-center gap-2">
            <Link href="https://hackerabad.framer.website/">Hackerabad</Link>
            <span class="text-muted text-xs inline-block"
                >- 2022 April - Present </span
            >
        </p>
        <p class="text-muted text-sm">Lead and Mentor</p>
        <p class="text-sm">
          Hackerabad is a student run developer community based in Hyderabad,India. My work involved in Managing and Organizing Student Events outside and in the college campus.
        </p>
    </div>
</section>
