---
import Link from "./ui/link.astro";
---

<section class="flex flex-col gap-6">
    <div class="flex flex-col gap-2">
        <p class="flex items-center gap-2">
            <Link href="https://x.com/devfolio">Devfolio</Link>
            <span class="text-muted text-xs inline-block"
                > June 2025 - Present </span
            >
        </p>
        <p class="text-muted text-sm">Community and Operations Intern</p>
        <p class="text-sm">
           Supporting hackathon ecosystem by keeping operations smooth and the community buzzing with energy 
        </p>

         <p class="flex items-center gap-2">
            <Link href="https://www.linkedin.com/company/kalakumbh/">KalaKumbh</Link>
            <span class="text-muted text-xs inline-block"
                >- 2023 June, 2 months</span
            >
        </p>
        <p class="text-muted text-sm">Flutter Developer Intern</p>
        <p class="text-sm">
           Designed, developed, and maintained web and mobile application using Flutter  
        </p>
    </div>
</section>
