---
import Link from "./ui/link.astro";
---

<section class="flex flex-col gap-6">

<div class="flex flex-col gap-2">
        <p>
            <Link href="https://github.com/Sushants-Git/team-gap">NAASH- Not another AI shell</Link>
        </p>
        <p class="text-sm">
            AI-powered terminal shell that enhances speed and efficiency through
            natural language interaction, clipboard and error log history.
        </p>
        <p class="text-sm">
            Participated as a team and won <Link
                href="https://devfolio.co/projects/yaash-yet-another-ai-shell-192b"
                >HackThisFall 2024 Virtual</Link
            > and received a prize of $1000 USD.
        </p>
        <div>

        </div>
        <p class="text-muted text-sm">Tech used: cli, ai</p>
        <p class="text-muted text-sm">
            Links: <Link href="https://www.youtube.com/watch?v=6xZ1Gxxiu1U"
                >Video</Link
            >
            <Link href="https://github.com/Sushants-Git/team-gap">GitHub</Link>
        </p>
    </div>
    <div class="flex flex-col gap-2">
        <p>
            <Link href="https://peerlist.io/sushantspeer/project/scratch-blogs">Scratch-Blogs</Link>
        </p>
        <p class="text-sm">
            Intelligent editor that allows users to write text using Markdown, draw flowcharts or diagrams on the spot, and upload images seamlessly. I Worked on the Backend of the application
        </p>
        <div>

        </div>
        <p class="text-muted text-sm">Tech used: react, typescript, gemini-api, azure vm, excalidraw npm</p>
        <p class="text-muted text-sm">
            Links: <Link href="https://youtu.be/bJMj_w8W5Dk"
                >Video</Link
            >
            <Link href="https://github.com/Sushants-Git/scratch-blogs">Frontend Codebase</Link>
            <Link href="https://github.com/veesesh/backend_scratchblogs">Backend Codebase</Link>
        </p>
    </div>
    <div class="flex flex-col gap-2">
        <p>
            <Link href="https://devpost.com/software/snippetsafe">Snippet-Safe</Link>
        </p>
        <p class="text-sm">
          Easy tool designed to efficient store and organize code snippets (bookmarking tool for code snippets)
        </p>

        <p class="text-sm">
            Participated as a team and won <Link
                href="https://frosthacks.devpost.com/"
                >Frost Hacks 2024 In-Person Hackathon</Link
            > and received a prize of 12,000 INR.
        </p>
        <div>

        </div>
        <p class="text-muted text-sm">
            Tech used: react, mongodb, hugging face
        </p>
        <p class="text-muted text-sm">
            Links: <Link href="https://youtu.be/dL4a-QIyANA"
                >Video</Link
            >
            <Link href="https://github.com/Sushants-Git/SnippetsSafe">GitHub</Link>
        </p>
    </div>

</section>
